<h1 *ngIf="!this.termino">Heroes de Marvel y DC</h1>
<h1 *ngIf="this.termino">Buscando: {{this.termino}} </h1>
<hr>
<div class="row">
  <div class="col-12 col-md-4" *ngFor="let i = index; let heroe of heroes$ | async">
    <div class="card mb-2" >
      <img class="card-img-top" src="{{heroe.img}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{heroe.nombre}}</h5>
        <p class="card-text">{{heroe.bio | slice:0:100}}...</p>
        <p class="card-text"><small class="text-muted">{{heroe.aparicion | date:'dd-MM-y'}}</small></p>
        <a [routerLink]="['/heroe', i]" class="btn btn-outline-primary btn-block">Ver más</a>
      </div>
    </div>
  </div>
  
  <div class="col-12 col-md-4" *ngIf="(heroes$ | async)?.length==0">
    <div class="mb-2" >
      No hay superhéroes que mostrar... 
    </div>
  </div>

</div>